NODE_ENV=development

APP_NAME=NextJS-Drizzle-Lucia-DaisyUI-Tailwind-Starter
APP_URL=http://localhost:3000

# AUTH
# Send verification email, enable a Mail Service if true
AUTH_SEND_VERIFICATION_EMAIL=true

# for JWT Cookie f.e.
SECRET_KEY=

# Enable mail service
ENABLE_MAIL_SERVICE=true
MAIL_SERVICE_TYPE=console

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_FROM_NAME=

# OAuth. Set to enable github sign in. Callbacks are handled in /auth/github/callback
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Database If Postgres
DATABASE_URL=postgres://user:password1234@localhost:5432/app
# For dev db, see docker-compose.yml
DB_HOST=localhost 
DB_PORT=5432
DB_DATABASE=app
DB_USERNAME=user
DB_PASSWORD=password1234
